DATABASE_URL=postgresql+asyncpg://products:products@localhost:5433/products
TEST_DATABASE_URL=postgresql+asyncpg://products:products@localhost:5433/products_test
MIGRATE_DATABASE_URL=postgresql+asyncpg://products:products@localhost:5433/products_migrate
SQL_ECHO=false
